{% extends "base_template.html"  %} 
{% load static %}
{% block title%} {{title}} {% endblock %} 
 {%block top_nav_bar%}
 <nav class="navbar navbar-expand-lg top-nav-bar">
    <div class="container">
      <a class="navbar-brand  " href="{%url 'index_page'%}">   <img  class="plasma-logo-mini" src="{% static 'images/PlasmaAPI_logo_mini.png'%}" alt="PlasmaAPI Logo">   </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="navbar-nav me-auto mb-2 mb-lg-0">
          <h1 class="project-name">PlasmaAPI</h1>
        </div>
        
        <div class="github-info">
          <div class="d-flex flex-column   ">
            <div class="p-2   "> <a class="github-link" href="https://github.com/sgonzalezdev">  <i class="fab fa-github"></i> sgonzalezdev/plasmaapi </a></div>
            <div class="p-2  "><i class="fas fa-sticky-note"></i> 0.1.0&nbsp;&nbsp; <i class="fab fa-python"></i> Django 4</div>
        
          </div>

        </div>
      </div>
    </div>
  </nav>
 
  {%endblock %}

 
{%block body_grid%} 

<div class="container">
    <div class="row">
      <div class="col">
        <ul class="nav flex-column main-nav-left">
            
            <li class="nav-item">
              <a class="nav-link" href="{%url 'index_page'%}">PlasmaAPI</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'requirements'%}">Requirements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'installation'%}">Installation</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{%url 'example'%}">Example</a>
            </li>
          
            <li class="nav-item">
              <a class="nav-link" href="{%url 'release_notes'%}">Release Notes</a>
            </li>
          </ul>
      </div>
      <div class=" col-8 main-content">
        {%block main_content%}
 
        <img src="{% static 'images/PlasmaAPI_logo.png'%}" class="img-fluid plasma-logo" alt="PlasmaAPI Logo">
         
<p><strong>PlasmaAPI is a simple, fast and reliable web library API built-in with Python 3.10+ and based on Django 4.0 + </strong></p>
<br>
<ul class="list-group">
  <li class="list-group-item"><p><i class="fas fa-circle"></i> <strong>Fast:</strong>   This library is using all the power of Django allowing high performance and tested 100% compatible with Axious and most of JavaScript Frameworks </p> </li>
  
    <li class="list-group-item"> <p> <i class="fas fa-circle"></i><strong> Easy to code: </strong>   neat documentation that saves you time while integrating the source</p>  </li>
 
      <li class="list-group-item"><p><i class="fas fa-circle"></i> <strong>Short: </strong>   Avoiding complex functions, easy, fast and well-documented reducing bugs and allowing scalability</p> </li>
 
</ul>
{% endblock%}
      </div>
      <div class=" col">
    
      </div>
    </div>
  </div>

 

{% endblock %}

{%block footer %} 
 
<div class="container-fluid"></div>
<nav class="navbar footer-nav-bar">
  <div class="container">
    
    <p class=" web-admin-text" >Developed by <strong>  <a  class=" web-admin" href="https://www.linkedin.com/in/sergioenmanuelgonzalez/"> Sergio Enmanuel Gonzalez</a> </strong></p>
    <div class="d-flex">
      <ul class="nav">
       
        <li class="nav-item">
          <a class="nav-link github" href="https://github.com/sgonzalezdev"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link linkendin" href="https://www.linkedin.com/in/sergioenmanuelgonzalez/"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link youtube" href="https://www.youtube.com/channel/UC7cue3gsz7EKN5TiW-riqZA"><i class="fab fa-youtube"></i></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
 
{% endblock %}
 