{% extends "index.html" %} {%block main_content%}

<h1 class="display-4">Installation</h1>
<br />

<ul class="list-group">
 
  <li class="list-group-item">1- Create a Virtual Environment</li>
  <li class="list-group-item"> <i class="fas fa-circle"></i> <strong>Command: </strong> python3 -m venv env</li>
  <li class="list-group-item"><i class="fas fa-circle"></i> <strong>Activate Command:</strong>  source env/bin/activate</li>
  <li class="list-group-item">2- Pip install -r requirements.txt</li>
  <li class="list-group-item">3- Pip install plasmaapi</li>
  <ul>
    {%endblock%}
  </ul>
</ul>
