{% extends "index.html" %} {%block main_content%}

<h1 class="display-4">Installation</h1>
<br />
<ul class="list-group">
 
  <li class="list-group-item"><p>1-Create a Virtual Environment</p></li>
  <li class="list-group-item"> <p><i class="fas fa-circle"></i> <strong>Command: </strong> python3 -m venv env</p></li>
  <li class="list-group-item"><p><i class="fas fa-circle"></i> <strong>Activate Command:</strong>  source env/bin/activate</p></li>
  <li class="list-group-item"><p>2- Pip install -r requirements.txt</p></li>
  <li class="list-group-item"><p>3- Pip install plasmaapi</p></li>
  <ul>
    {%endblock%}
  