{% extends "index.html" %} {%block main_content%}

<h1 class="display-4">Installation</h1>
<br />
<ul class="list-group">
  <li class="list-group-item">
    <p>
      1. Create and activate a virtual environment using commands: python3 -m
      venv env and source /bin/activate
    </p>
  </li>
  <li class="list-group-item"><p>2. Pip install -r requirements.txt</p></li>
  <li class="list-group-item"><p>3. Pip install plasmaapi</p></li>
  <li class="list-group-item">
    <p>4. Run your server using command: python manage.py runserver</p>
  </li>
  <ul>
    {%endblock%}
  </ul>
</ul>
