{% extends "index.html" %} {%block main_content%}

<h1 class="display-4">Release Notes</h1>
<br />

 <p >Release Version: 0.1.0</p>
<br>
<ul class="list-group">
  <li class="list-group-item"><p><strong>Feactures </strong> </p></li>
 
  <li class="list-group-item"><p> <i class="fas fa-paper-plane"></i> Send an email with a customized email template from contact form.  The URL=“/send_email”
    integrates a default HTML template, so you are freely to include your own design.</li>
  <ul>
    {%endblock%}
  </ul>
</ul>
